section.tech-skills
  h4.tech-skills__title Практические навыки
  p.tech-skills__comment
    | Отметьте только те технологии и типы задач, с которыми вы хорошо знакомы.
    | Отсутствие опыта отнюдь не означает, что у вас меньше шансов стать
    | нашим сотрудником. Это означает, что вы будете получать те задачи,
    | с которыми гарантированно будете справляться.

  mixin skills(list)
    ul.tech-skills__list
      each item in list
        li.tech-skills__item
          input.tech-skills__input(
            type='checkbox'
            name='tech-skills'
            id=item[0]
            checked=item[1]
          )
          label.tech-skills__name(for=item[0])= item[2]

  +skills([
    ['skill-1', true, 'Методология БЭМ'],
    ['skill-2', false, 'jQuery'],
    ['skill-3', false, 'Использую GRUNT'],
    ['skill-4', false, 'HAML'],
    ['skill-5', false, 'SASS'],
    ['skill-6', true, 'LESS'],
    ['skill-7', false, 'CoffeeScript'],
    ['skill-8', false, 'Jade'],
    ['skill-9', false, 'Stylus'],
    ['skill-10', false, 'Знаю (изучаю) Angular'],
    ['skill-11', true, 'Верстка под Android'],
    ['skill-12', true, 'Верстка под iOS'],
    ['skill-13', true, 'Верстка под Windows Phone'],
    ['skill-14', false, 'Верстка рассылок'],
    ['skill-15', true, 'Адаптивная верстка'],
    ['skill-16', false, 'Использую Dropbox'],
    ['skill-17', false, 'Использую Gmail'],
    ['skill-18', true, 'Использую GitHub']
  ])
