section.user-info

  mixin user-data-item(key, value)
    .user-info__item
      .usre-info__item-key= key
      input.user-info__item-value(
        type='text'
        value='#{value}'
      )

  +user-data-item('Полное ФИО', 'Новокович Мария Николаевна')
  +user-data-item('Год рождения', '1988')
  +user-data-item('Место жительства', 'г. Таллинн, Эстония')
  +user-data-item('Скайп', 'kataskin@ya.ru')
  +user-data-item('Почта', 'kataskin@ya.ru')

  span.user-info__html-courses Выпускник
  a.user-info__html-courses-link(href='https://htmlacademy.ru/' target='_blank') htmlacademy.ru

  mixin courses-input(input_id, text, checked)
    input.user-info__html-courses-input(
      type='radio'
      id='#{input_id}'
      name='html-courses'
      checked=checked
    )
    label.user-info__html-courses-label(for='#{input_id}') #{text}

  .user-info__courses-input-wrapper
    +courses-input('courses-yes', 'Да', true)
    +courses-input('courses-no', 'Нет', false)
